<div class="h-full bg-dark pb-5 flex align-content-end flex-wrap">
  <div class="w-full p-4 pb-0 text-white text-center">
    <img class="mb-5" src="assets/images/sliders/slider-4.svg">
    <h1 class="text-4xl font-bold mb-4">Únete a la comunidad</h1>
    <p class="text-lg">Conecta con otros usuarios, descubre nuevas recetas y comparte tu progreso.</p>
  </div>
  <div class="w-full mt-5 px-2">
    <ion-button class="btn-third w-full" (click)="goRegister()">Comenzar</ion-button>
    <div class="text-center" (click)="goLogin()">
      <p class="text-secondary">¿Ya tienes una cuenta? <a class="text-primary font-bold">Inicia sesión</a></p>
    </div>
  </div>
</div>
