.error-message {
  color: #e63946 !important;
  font-size: 12px;
}

.button-container {
  margin-top: 16px;
}

.card-login{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  margin: 0;
}
