<div class="h-full bg-primary-2 flex justify-content-between flex-column pb-5">
  <div class="flex justify-content-end p-0">
    <img src="assets/images/sliders/slider-1.webp" class="rotate" style="width: 50vh; margin-right: -25vh;">
  </div>
  <div class="p-3 text-dark">
    <div style="width: 100px !important">
      <img src="assets/icon/pineapple_icon.svg">
    </div>

    <h1 class="text-5xl font-bold mb-4">Healthy Chef</h1>
    <p class="text-xl font-medium">Come mejor, obten resultados.</p>
  </div>
</div>
