<ion-header>
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="flex flex-column align-items-center mt-2">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <h2 class="font-bold">
      {{ (user?.name || '') + ' ' + (user?.last_name || '') }}
    </h2>
  </div> -->

  <div class="flex flex-column align-items-center mt-2">
    <img class="w-full" alt="Profile" src="assets/images/profile.svg" />
  </div>

  <div class="flex flex-column align-items-center mb-2">
    <ion-button fill="outline" class="px-5" (click)="goToPerfil()">
      <ion-icon slot="start" name="create-outline"></ion-icon>
      Perfil
    </ion-button>
  </div>

  <ion-list>
    <ion-item>
      <ion-label>Modo oscuro</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select slot="end" placeholder="Seleccionar" value="es">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Inglés</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <div class="absolute bottom-0">
    <ion-button fill="clear" id="logout-alert">
      <ion-icon slot="start" name="power-outline"></ion-icon>
      Salir
    </ion-button>
    <ion-alert
      trigger="logout-alert"
      header="¿Estás seguro de salir?"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>
</ion-footer>
