<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round"(click)="volver()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="flex flex-column align-items-center mt-2">
    <ion-avatar id="select-type-upload">
      <img alt="Silhouette of a person's head" [src]="user?.image ? user?.image : 'https://ionicframework.com/docs/img/demos/avatar.svg'"/>
    </ion-avatar>
    <small class="mt-2" style="color: rgb(171, 171, 171);">{{'@'+user?.username}}</small>
    <h2 class="font-bold">
      {{ (user?.name || '') + ' ' + (user?.last_name || '') }}
    </h2>
    <ion-label class="mb-3">{{user?.email}}</ion-label>
  </div>

  <ion-card>
    <ion-card-content class="grid">
      <ion-item class="col">
        <ion-label class="flex flex-column align-items-center justify-content-center">
          <p>{{user?.followers?.length}}</p>
          <h2>Seguidores</h2>
        </ion-label>
      </ion-item>
      <ion-item class="col">
        <ion-label class="flex flex-column align-items-center justify-content-center">
          <p>{{user?.followees?.length}}</p>
          <h2>Seguidos</h2>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-segment color="dark" value="dark">
    <ion-segment-button value="dark">
      <ion-label>Dark</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>Segment</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-alert
    trigger="select-type-upload"
    header="Seleccione una opción"
    [inputs]="alertInputs"
  ></ion-alert>


  <ion-toast
    [isOpen]="isEditsuccess"
    message="Datos actualizados correctamente"
    [duration]="5000"
  ></ion-toast>
</ion-content>
